@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centre-vertical-and-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:    Phone
600 - 900px:  Tablet portait mode
900 - 1200px: Tablet landscape mode
[1200 - 1800] is where our normal styles apply
1800+:        Big desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width: 56.25em) { @content }; // 900px
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desktop {
    @media screen and (min-width: 112.5em) { @content }; // 1800px
  }
}